<div class="card position-relative" (click)="onCourseDetails()">
  <img
    src="../../../assets/images/{{ courseImage }}.png"
    class="card-img-top"
    alt="{{ title }}"
  />
  <div class="card-body">
    <h4 class="card-title text-dark-blue fw-bold text-center">{{ category }}</h4>
    <h5 class="card-title text-dark-blue text-center">{{ title }}</h5>
    <p class="card-text text-blue text-center">{{ description }}</p>
  </div>
  <div class="card-footer d-flex justify-content-center align-items-center">
    <p class="text-dark-blue">Rating****</p>
  </div>
</div>
