<app-header></app-header>
<app-layout-template>
  <div class="card" *ngIf="course">
    <div class="card-header">
      {{ course.title }}
    </div>
    <div class="card-body">
      <p>{{ course.description }}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-blue" type="button" (click)="onBack('/courses')"><i class="fa fa-arrow-left me-2"></i>
        Back to courses list
      </button>
    </div>
  </div>

  <!--TODO: use app-course-card component, navigate back to courses-->
  <!-- <app-course-card *ngIf="course" [title]="course.title" [description]="course.description">

  </app-course-card> -->

  <div class="card" *ngIf="providedCourse">
    <div class="card-header">
      {{ providedCourse.title }}
    </div>
    <div class="card-body">
      <p>{{ providedCourse.description }}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-blue" type="button" (click)="onBack('/courses')"><i class="fa fa-arrow-left me-2"></i>
        Back to courses list
      </button>
    </div>
  </div>
</app-layout-template>
