<app-header></app-header>
<app-layout-template>
  <div class="courses">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1>Courses We Provided</h1>
      <p>All Our Available Corses Listed Below</p>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-3">
        <div class="card">
          <img
            src="../assets/images/accesa.avif"
            class="card-img-top"
            style="width: 10rem"
            alt="..."
          />
          <div class="card-body">
            <a href="#" class="card-title">Professional Growth</a>
            <p><i class="fa fa-files text-primary"></i> 2 Courses</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3">
        <div class="card">
          <img
            src="../assets/images/accesa.avif"
            class="card-img-top"
            style="width: 10rem"
            alt="..."
          />
          <div class="card-body">
            <a href="#" class="card-title">Human Resources</a>
            <p><i class="fa fa-files text-primary"></i> 2 Courses</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3">
        <div class="card">
          <img
            src="../assets/images/accesa.avif"
            class="card-img-top"
            style="width: 10rem"
          />
          <div class="card-body">
            <a class="card-title">Professional Development</a>
            <p><i class="fa fa-files text-primary"></i> 0 Courses</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3">
        <div class="card">
          <img
            src="../assets/images/accesa.avif"
            class="card-img-top"
            style="width: 10rem"
          />
          <div class="card-body">
            <a class="card-title">Training and Education</a>
            <p><i class="fa fa-files text-primary"></i> 0 Courses</p>
          </div>
        </div>
      </div>
    </div>
    <div class="all-categories mt-3">
      <button class="btn btn-outline-primary" (click)="onNavigateTo('courses')">
        View all categories <i class="fa fa-arrow-right ms-2"></i>
      </button>
    </div>
  </div>

  <!--Recommended Courses-->
  <div class="recommended-courses py-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1>Recommended Courses</h1>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-4">
        <div class="card" style="width: 18rem">
          <img
            src="../assets/images/accesa.avif"
            class="card-img-top"
            style="width: 10rem"
            alt="..."
          />
          <div class="card-body">
            <a href="#" class="card-title">Human Resources</a>
            <p><i class="fa fa-files text-primary"></i> 2 Courses</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="card" style="width: 18rem">
          <img
            src="../assets/images/accesa.avif"
            class="card-img-top"
            style="width: 10rem"
          />
          <div class="card-body">
            <a class="card-title">Professional Development</a>
            <p><i class="fa fa-files text-primary"></i> 0 Courses</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="card" style="width: 18rem">
          <img
            src="../assets/images/accesa.avif"
            class="card-img-top"
            style="width: 10rem"
          />
          <div class="card-body">
            <a class="card-title">Training and Education</a>
            <p><i class="fa fa-files text-primary"></i> 0 Courses</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout-template>
