<app-header></app-header>
<app-banner
  [title]="translate.instant('landing_page.banner.title')"
  [description]="translate.instant('landing_page.banner.description')"
  [home]="translate.instant('buttons.banner_button')"
  (navigateHome)="onNavigateToCourses($event)"
></app-banner>

<app-layout-template>
  <!--Provided Courses-->
  <div class="provided-courses">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-dark-blue">
        {{ "categories.provided_courses" | translate }}
      </h1>
      <p class="text-blue">
        {{ "categories.provided_description" | translate }}
      </p>
    </div>
    <div class="row g-4">
      <div
        class="col-sm-12 col-md-6 col-lg-3"
        *ngFor="let providedCourse of providedCourses"
      >
        <app-generic-card
          [courseId]="providedCourse.courseId"
          [courseImage]="providedCourse.courseImage"
          [title]="providedCourse.title"
          [description]="providedCourse.description"
          (courseDetails)="onCourseDetails($event)"
        >
        </app-generic-card>
      </div>
    </div>
  </div>
</app-layout-template>

<app-footer></app-footer>
