<app-header></app-header>
<app-layout-template>
  <section>
    <div class="row">
      <div
        class="register col-sm-12 col-lg-6 d-flex flex-column"
      >
        <h1 class="logo text-center">Register to MVP</h1>
        <form
          [formGroup]="registerForm"
          class="register-form d-flex flex-column justify-content-around mt-3"
        >
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              <!--FirstName-->
              <div class="first-name">
                <label class="form-label">First Name</label>
                <input
                  type="text"
                  placeholder="First Name"
                  class="form-control position-relative"
                  formControlName="firstName"
                  required
                />
                <span
                  class="text-danger position-absolute"
                  *ngIf="onInputValidation('firstName', 'required')"
                >
                  First Name is required
                </span>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <!--LastName-->
              <div class="last-name">
                <label class="form-label">Last Name</label>
                <input
                  type="text"
                  placeholder="Last Name"
                  class="form-control position-relative"
                  formControlName="lastName"
                  required
                />
                <span
                  class="text-danger position-absolute"
                  *ngIf="onInputValidation('lastName', 'required')"
                >
                  Last Name is required
                </span>
              </div>
            </div>
          </div>

          <!--Email-->
          <div class="email">
            <label class="form-label">Email address</label>
            <input
              type="email"
              placeholder="Email"
              class="form-control position-relative"
              formControlName="email"
              required
            />
            <span
              class="text-danger position-absolute"
              *ngIf="onInputValidation('email', 'required')"
            >
              Email required
            </span>
            <span
              class="text-danger position-absolute"
              *ngIf="onInputValidation('email', 'email')"
            >
              Enter a valid email address
            </span>
          </div>

          <!--Password-->
          <div class="password">
            <label class="form-label">Password</label>
            <input
              type="password"
              placeholder="Password"
              class="form-control position-relative"
              formControlName="password"
            />
            <span
              class="text-danger position-absolute"
              *ngIf="onInputValidation('password', 'required')"
            >
              This field is required
            </span>
            <span
              class="text-danger position-absolute"
              *ngIf="onInputValidation('password', 'minlength')"
            >
              Password must be a least 8 characters
            </span>
          </div>

          <!--Submit Button-->
          <div class="submit mt-5">
            <button
              class="btn btn-primary w-100"
              type="submit"
              (click)="onSubmit()"
              [disabled]="registerForm.invalid || registerForm.pristine"
            >
              Register
            </button>
          </div>
        </form>
      </div>
      <div
        class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-center bg-primary text-light"
      >
        Accesa MVP
      </div>
    </div>
  </section>
</app-layout-template>
