<app-header></app-header>
<app-layout-template>
  <section>
    <div class="row register-container">
      <div class="register col-sm-12 col-lg-6 d-flex flex-column">
        <h1 class="logo text-center text-blue">{{ 'authentication.title' | translate }}</h1>
        <form
          [formGroup]="registerForm"
          class="register-form d-flex flex-column justify-content-around mt-3"
        >
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              <!--FirstName-->
              <div class="first-name">
                <label class="form-label text-dark-blue">{{ 'authentication.first_name' | translate }}</label>
                <input
                  type="text"
                  placeholder="{{ 'authentication.first_name' | translate }}"
                  class="form-control position-relative"
                  formControlName="firstName"
                  required
                />
                <span
                  class="text-danger position-absolute"
                  *ngIf="onInputValidation('firstName', 'required')"
                >
                {{ 'authentication.err-message.first_name' | translate }}
                </span>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <!--LastName-->
              <div class="last-name">
                <label class="form-label text-dark-blue">{{ 'authentication.last_name' | translate }}</label>
                <input
                  type="text"
                  placeholder="{{ 'authentication.last_name' | translate }}"
                  class="form-control position-relative"
                  formControlName="lastName"
                  required
                />
                <span
                  class="text-danger position-absolute"
                  *ngIf="onInputValidation('lastName', 'required')"
                >
                {{ 'authentication.err-message.last_name' | translate }}
                </span>
              </div>
            </div>
          </div>

          <!--Email-->
          <div class="email">
            <label class="form-label text-dark-blue">{{ 'authentication.email' | translate }}</label>
            <input
              type="email"
              placeholder="{{ 'authentication.email' | translate }}"
              class="form-control position-relative"
              formControlName="email"
              required
            />
            <span
              class="text-danger position-absolute"
              *ngIf="onInputValidation('email', 'required')"
            >
            {{ 'authentication.err-message.email' | translate }}
            </span>
            <span
              class="text-danger position-absolute"
              *ngIf="onInputValidation('email', 'email')"
            >
            {{ 'authentication.err-message.invalid_email' | translate }}
            </span>
          </div>

          <!--Password-->
          <div class="password">
            <label class="form-label text-dark-blue">{{ 'authentication.password' | translate }}</label>
            <input
              type="password"
              placeholder="{{ 'authentication.password' | translate }}"
              class="form-control position-relative"
              formControlName="password"
            />
            <span
              class="text-danger position-absolute"
              *ngIf="onInputValidation('password', 'required')"
            >
            {{ 'authentication.err-message.password' | translate }}
            </span>
            <span
              class="text-danger position-absolute"
              *ngIf="onInputValidation('password', 'minlength')"
            >
            {{ 'authentication.err-message.invalid_psw' | translate }}
            </span>
          </div>

          <!--Submit Button-->
          <div class="submit mt-5">
            <button
              class="btn btn-blue w-100"
              type="submit"
              (click)="onSubmit()"
              [disabled]="registerForm.invalid || registerForm.pristine"
            >
            {{ 'buttons.register_button' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</app-layout-template>
