<section class="banner d-flex justify-content-center align-items-center">
  <div class="banner-img"></div>
  <div class="overlay"></div>
  <div
    class="banner-text d-flex flex-column align-items-center justify-content-center"
  >
    <h1 class="text-white fw-bold" @fade>
      {{ title }}
    </h1>
    <p
      class="mt-2 text-white text-center fw-bold w-75"
      [ngClass]="description ? 'mt-4' : ''"
      @fadeIn
    >
      {{ description }}
    </p>
    <div [ngClass]="description ? 'mt-4' : ''">
      <a
        class="link fw-bold text-white text-decoration-none"
        (click)="onNavigateHome('')"
        @fadeIn
      >
        {{ home }}
      </a>
      <span class="text-white px-2" *ngIf="courses">/</span>
      <a
        class="link fw-bold text-white text-decoration-none"
        (click)="onNavigateToCourses('')"
        @fadeIn
      >
        {{ courses }}
      </a>
      <span class="text-white px-2" *ngIf="courseCategory">/</span>
      <a
        class="link fw-bold text-white text-decoration-none"
        (click)="onNavigateToCourses('')"
        @fadeIn
      >
        {{ courseCategory }}
      </a>
      <span class="text-white px-2" *ngIf="courseTitle">/</span>
      <a class="link fw-bold text-white text-decoration-none" @fadeIn>
        {{ courseTitle }}
      </a>
    </div>
  </div>
</section>
