<!--TODO: make it responsive-->
<section class="footer">
  <div
    class="container d-flex flex-row justify-content-between align-content-center py-3"
  >
    <div class="text">
      <h3 class="text-white fw-bold">Contact</h3>
      <div class="text-gray mt-4">
        <p>Strada Constanta, nr. 12</p>
        <p>Cluj-Napoca</p>
        <p>23454, Romania</p>
        <p>0054664 54645 6444</p>
        <p>support@accesa.eu</p>
      </div>
    </div>

    <div class="text">
      <h3 class="text-white fw-bold">Company</h3>
      <div class="d-flex flex-column mt-4">
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >About us</a
        >
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >Blog</a
        >
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >Contact</a
        >
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >Became a Teacher</a
        >
      </div>
    </div>

    <div class="text">
      <h3 class="text-white fw-bold">Programs</h3>
      <div class="d-flex flex-column mt-4">
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >Degree Plus</a
        >
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >Veterans</a
        >
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >Self-learning</a
        >
      </div>
    </div>

    <div class="text">
      <h3 class="text-white fw-bold">Support</h3>
      <div class="d-flex flex-column mt-4">
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >Documentation</a
        >
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >Forums</a
        >
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >Language aacks</a
        >
        <a class="link text-decoration-none text-gray py-1" routerLink="#"
          >Release Status</a
        >
      </div>
    </div>
  </div>
</section>
